* {}

.box-card {
    width: 250px;
    height: 410px;
    background-color: #eaeafa;
    padding: 15px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

.box-card:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
    transform: scale(1.03);

}

.box-card img {
    width: 100%;
    object-fit: contain;
    border-radius: 2.5%;
}

.media-icons a {
    padding-inline: 10px;
    text-decoration: none;
    font-size: 26px;
}

.media-icons i {
    color: black;
}

h1 {
    background-color: #eaeafa;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    font-weight: bold;
    font-size: 25px;
    font-style: italic;
    margin: 5px;
    text-align: justify;
}

.headContainer {
    background: #CCCCFF;
    display: flex;
    flex-wrap: wrap;
}

.headbox {
    margin: 20px;
}

.image {
    object-fit: contain;
    border-radius: 50%;
}

.seperator {
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
    padding-top: 15px;
    background: #CCCCFF;
}

.detailContainer {
    width: auto;
    height: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #CCCCFF;
}

.detailbox {
    width: 150px;
    display: block;
    margin: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    flex-grow: 1;
}

ul {
    list-style-position: inside;
    padding-left: 0;
}

.footer {
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

.detailbox a:hover {
    border-radius: 10px;
    padding: 1%;
    background-color: black;
    color: white;
    transition: 100ms;
}

a::after {
    background-color: #b3d87f;
    ;
}

@media (max-width:800px) {
    p {
        font-size: 15px;
    }

    h1 {
        font-size: 25px;
    }

    .seperator {
        font-size: 20px;
    }

    .box-card {
        margin-left: auto;
        margin-right: auto;
    }
}