h1 {
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    font-weight: bold;
    font-size: 25px;
    font-style: italic;
    margin: 5px;
    text-align: justify;

}

.headContainer {
    display: flex;
    flex-wrap: wrap;
}

.headbox {
    margin: 20px;
}

.image{
    object-fit: contain;
}
.seperator {
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
}

.detailContainer {
    width: auto;
    height: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.detailbox {
    width: 150px;
    display: block;
    margin: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    flex-grow: 1;
}

ul {
    list-style-position: inside;
    padding-left: 0;
}

.footer {
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
}

a{
    text-decoration: none;
    color: black;
  }

a:hover{
    border-radius: 10px;
    padding: 1%;
    background-color:  #b3d87f;
}
a::after{
    background-color:  #b3d87f; ;
}

@media (max-width:800px) {
    p {
        font-size: 15px;
    }

    h1 {
        font-size: 25px;
    }

    .seperator {
        font-size: 20px;
    }
}